* {
    background-color: #b00222ed;
    --matchingColor: #2D7DD2;
}

body {
    margin: 0px;
    height: 0px;
    text-align: center;
}

canvas {
    border: 12px solid var(--matchingColor);
    border-radius: 15px;
}